body{
    background-color: #fffdf5;
}

.header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 450px;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.links a:hover{
    color: #bb09cc;
    border-top: 2px solid #bb09cc;
    border-bottom: 2px solid #bb09cc;
}

.link-a-1{
    background-color: #bb09cc;
    border: #e605d3 solid 2px;
    color: white;
    font-weight: bold;
}

.link-a-2{
    background-color: transparent;
    border: #e605d3 solid 2px;
    color: #bb09cc;
    font-weight: bold;
}

.span-1 , .span-2{
    font-weight: bold;
    font-size: x-large;
}

.span-1{
    color: rgb(198, 25, 198);
}

.span-2{
    color: #c917ba;
}

.secao-1{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-2{
    width: 500px;
    margin-top: 50px;
}

.secao-1 h1{
    font-weight: bold;
}

.secao-1 h5{
    color: #c917ba;
}


.img{
    width: 400px;
    margin: 0 auto;

}

.img img{
    width: 100%;
    border-radius: 100%;

}